doctype html
html
  head
    title Tweet reGenerator
    link(rel='stylesheet', href='/styles/style.css')
  body
    .wrapper
      p hello #{username}
      a(href='/session/connect') Connect to twitter
      br
      a(href='/twitter/page') Skip to stream page
