doctype html
html
  head
    title Tweet reGenerator
    link(rel='stylesheet', href='/styles/style.css')
  body
    .wrapper
      .selection
        p hello #{username}
    script(src="/scripts/main.js")
